.main {
  width: 800px;
  max-width: 90%;
  margin: 5em auto;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #0e2a42;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.emptyCart {
  text-align: center;
  color: #617d98;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 3px;
}
